<h1>Listing viewers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Zone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viewers.each do |viewer| %>
      <tr>
        <td><%= viewer.name%></td>
        <td><%= viewer.zone_id %></td>
        <td><%= link_to 'Show', viewer %></td>
        <td><%= link_to 'Edit', edit_viewer_path(viewer) %></td>
        <td><%= link_to 'Destroy', viewer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viewer', new_viewer_path %>
