<h1>Listing games</h1>

<%= simple_form_for @viewer, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <%= f.association :zone %>
    <%= f.submit "Change Time Zone", class: 'button' %>
  </fieldset>
<% end %>


<table>
  <thead align="center">
    <tr>
      <th>Home team</th>
      <th>Away team</th>
      <th>Location</th>
      <th>Week</th>
      <th>UTC</th>
      <th>Your Time
        <% if @viewer.zone %>
          (<%=@viewer.zone.name%>)
        <%else%>
          (select above)
        <%end%>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="center">
    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_team %></td>
        <td><%= game.away_team %></td>
        <td><%= game.location %></td>
        <td><%= game.week %></td>
        <td><%= game.time.to_UTC.strftime("%B %d, %Y @ %I:%M%p") %></td>
        <% if @viewer.zone %>
          <td><%= game.time.change_timezone({new_timezone: @viewer.zone.name}).strftime("%B %d, %Y @ %I:%M%p") %></td>
        <%else%>
        <td>---------</td>
        <%end%>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
